In [37]:
import numpy as np 
import pandas as pd

In [38]:
matches=pd.read_csv('2000 to 2019.csv',encoding="windows-1252")
matches.head()

,Team 1,Result,Winner,Toss,toss_winner,Bat,Team 2,Ground,Start Date,Host_Country,Venue_Team 1,Venue_Team 2,Inning_Team1,Inning_Team2,Team1_Toss,Margin,Team2_Toss,pitch,Winner_Inning,pitchn
0,New Zealand,won,New Zealand,lost,New Zealand,2nd,West Indies,Napier,6-Jan-00,New Zealand,Home,Away,2nd,first,lost,4 wickets,won,fast/green/bouncy,2ndinningwinner,fast/green/swing/bouncy
1,West Indies,lost,New Zealand,won,West Indies,first,New Zealand,Napier,6-Jan-00,New Zealand,Away,Home,first,2nd,won,4 wickets,lost,fast/green/bouncy,2ndinningwinner,fast/green/swing/bouncy
2,New Zealand,won,New Zealand,won,New Zealand,2nd,West Indies,Wellington,8-Jan-00,New Zealand,Home,Away,2nd,first,won,8 wickets,lost,fast/green/bouncy,2ndinningwinner,fast/green/swing/bouncy
3,West Indies,lost,New Zealand,lost,West Indies,first,New Zealand,Wellington,8-Jan-00,New Zealand,Away,Home,first,2nd,lost,8 wickets,won,fast/green/bouncy,2ndinningwinner,fast/green/swing/bouncy
4,Australia,lost,Pakistan,lost,Australia,2nd,Pakistan,Brisbane,9-Jan-00,Australia,Home,Away,2nd,first,lost,45 runs,won,fast/ bouncy,1stinningwinner,fast/ high bounce

In [39]:
matches.Winner.unique()

array(['New Zealand', 'Pakistan', 'Australia', 'South Africa', 'England',
       'India', 'Zimbabwe', 'Sri Lanka', 'West Indies', 'Bangladesh',
       'Netherlands', 'Ireland', 'Afghanistan'], dtype=object)

In [40]:
matches.replace(['India','Australia','New Zealand','Sri Lanka','West Indies',
                 'South Africa','Bangladesh','England','Pakistan',
                 'Zimbabwe','Kenya','Afghanistan','Hong Kong','Scotland','Ireland','Bermuda','Namibia','Netherlands','U.A.E.','Malaysia','Canada','East Africa']
                ,['Ind','Aus','NZ','SL','WI','SA','Ban','Eng','Pak','Zim','Ken','Afg','HK','Sco','Ire','Ber','Nam','Net','Uae','Mal','can','Ea'],inplace=True)

TeamCode = {'Team 1': {'Ind':1,'Aus':2,'NZ':3,'SL':4,'WI':5,'SA':6,'Ban':7,'Eng':8,'Pak':9,'Zim':10,'Ken':11,'Afg':12,'HK':13,'Sco':14,'Ire':15,'Ber':16,'Nam':17,'Net':18,'Uae':19,'Mal':20,'can':21,'Ea':22},
          'Team 2': {'Ind':1,'Aus':2,'NZ':3,'SL':4,'WI':5,'SA':6,'Ban':7,'Eng':8,'Pak':9,'Zim':10,'Ken':11,'Afg':12,'HK':13,'Sco':14,'Ire':15,'Ber':16,'Nam':17,'Net':18,'Uae':19,'Mal':20,'can':21,'Ea':22},
          'Host_Country': {'Ind':1,'Aus':2,'NZ':3,'SL':4,'WI':5,'SA':6,'Ban':7,'Eng':8,'Pak':9,'Zim':10,'Ken':11,'Afg':12,'HK':13,'Sco':14,'Ire':15,'Ber':16,'Nam':17,'Net':18,'Uae':19,'Mal':20,'can':21,'Ea':22},
          'Winner': {'Ind':1,'Aus':2,'NZ':3,'SL':4,'WI':5,'SA':6,'Ban':7,'Eng':8,'Pak':9,'Zim':10,'Ken':11,'Afg':12,'HK':13,'Sco':14,'Ire':15,'Ber':16,'Nam':17,'Net':18,'Uae':19,'Mal':20,'can':21,'Ea':22}, 
           'Result':{'won':40,'lost':41}
           }
matches.replace(TeamCode, inplace=True)
matches.tail(2)

,Team 1,Result,Winner,Toss,toss_winner,Bat,Team 2,Ground,Start Date,Host_Country,Venue_Team 1,Venue_Team 2,Inning_Team1,Inning_Team2,Team1_Toss,Margin,Team2_Toss,pitch,Winner_Inning,pitchn
4505,5,40,5,won,WI,2nd,12,Lucknow,11-Nov-19,1,Neutral,Neutral,2nd,first,won,5 wickets,lost,flat/dead\dry,2ndinningwinner,flat/dead
4506,12,41,5,lost,Afg,first,5,Lucknow,11-Nov-19,1,Neutral,Neutral,first,2nd,lost,5 wickets,won,flat/dead\dry,2ndinningwinner,flat/dead

In [41]:
dicVal = TeamCode['Host_Country']
print(dicVal['Ind']) #print value from key
print(list(dicVal.keys())[list(dicVal.values()).index(5)])#find key by value
print(dicVal)

1
WI
{'Ind': 1, 'Aus': 2, 'NZ': 3, 'SL': 4, 'WI': 5, 'SA': 6, 'Ban': 7, 'Eng': 8, 'Pak': 9, 'Zim': 10, 'Ken': 11, 'Afg': 12, 'HK': 13, 'Sco': 14, 'Ire': 15, 'Ber': 16, 'Nam': 17, 'Net': 18, 'Uae': 19, 'Mal': 20, 'can': 21, 'Ea': 22}

In [46]:
matches = matches[['Team 1','Team 2','Bat','Ground','Host_Country','Result','Winner','pitchn','Toss','Venue_Team 1','Venue_Team 2','Winner_Inning']]
#we tool only the columns which are relevant to the outcome i.e winner
matches.head(2)

,Team 1,Team 2,Bat,Ground,Host_Country,Result,Winner,pitchn,Toss,Venue_Team 1,Venue_Team 2,Winner_Inning
0,2,4,0,93,3,40,2,5,lost,Home,Away,2ndinningwinner
1,4,2,1,93,3,41,2,5,won,Away,Home,2ndinningwinner

In [47]:
df = pd.DataFrame(matches)
df.describe()

,Team 1,Team 2,Bat,Ground,Result,Winner,pitchn
count,4507.000000,4507.000000,4507.000000,4507.000000,4507.000000,4507.000000,4507.000000
mean,4.316397,4.678278,0.500777,59.834258,40.502995,3.913690,5.733082
std,3.151621,3.206999,0.500055,37.270276,0.500047,3.020401,3.487467
min,0.000000,0.000000,0.000000,0.000000,40.000000,0.000000,0.000000
25%,2.000000,2.000000,0.000000,29.000000,40.000000,1.000000,4.000000
50%,4.000000,5.000000,1.000000,60.000000,41.000000,3.000000,6.000000
75%,7.000000,7.000000,1.000000,93.000000,41.000000,6.000000,10.000000
max,12.000000,12.000000,1.000000,131.000000,41.000000,12.000000,10.000000

In [48]:
df.dtypes

Team 1            int32
Team 2            int32
Bat               int32
Ground            int32
Host_Country     object
Result            int64
Winner            int32
pitchn            int32
Toss             object
Venue_Team 1     object
Venue_Team 2     object
Winner_Inning    object
dtype: object

In [55]:
from sklearn.preprocessing import LabelEncoder #using label encoder on our categorical data which is 'ground' and 'day'
var_mod = ['Team 1','Team 2','Ground','Winner','Bat','pitchn','Venue_Team 1','Venue_Team 2','Toss']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i])
df.dtypes

Team 1            int64
Team 2            int64
Bat               int64
Ground            int64
Host_Country     object
Result            int64
Winner            int64
pitchn            int64
Toss              int32
Venue_Team 1      int64
Venue_Team 2      int64
Winner_Inning    object
dtype: object

In [56]:
#Import models from scikit learn module:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
#from sklearn.cross_validation import KFold   #For K-fold cross validation
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import KFold
#from sklearn.model_selection import KFold
#KFold
import sklearn.model_selection
sklearn.model_selection.KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import metrics

#Generic function for making a classification model and accessing performance:
def classification_model(model, data, predictors, outcome):
  model.fit(data[predictors],data[outcome])
  
  predictions = model.predict(data[predictors])
  
  accuracy = metrics.accuracy_score(predictions,data[outcome])
  print('Accuracy : %s' % '{0:.3%}'.format(accuracy))

  #kf = KFold(data.shape[0], n_splits=5)
  kf = KFold(n_splits=2)

  error = []
  #for train, test in kf:
  for train, test in kf.split(data[predictors]):
    train_predictors = (data[predictors].iloc[train,:])
    
    train_target = data[outcome].iloc[train]
    
    model.fit(train_predictors, train_target)
    
    error.append(model.score(data[predictors].iloc[test,:], data[outcome].iloc[test]))
 
  print('Cross-Validation Score : %s' % '{0:.3%}'.format(np.mean(error)))

  model.fit(data[predictors],data[outcome])

In [57]:
#1-Logistic Regression

outcome_var=['Result']
predictor_var = ['Team 1','Team 2','Ground','Bat','pitchn','Venue_Team 1','Venue_Team 2','Toss']
model = LogisticRegression()
classification_model(model, df,predictor_var,outcome_var)

Accuracy : 63.346%
Cross-Validation Score : 61.549%

C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [59]:
#Gaussian NAive bayes algorithm
from sklearn.naive_bayes import GaussianNB
outcome_var=['Result']
predictor_var = ['Team 1','Team 2','Ground','Bat','pitchn','Venue_Team 1','Venue_Team 2','Toss']
model = GaussianNB() 
classification_model(model, df,predictor_var,outcome_var)

Accuracy : 63.168%
Cross-Validation Score : 61.571%

C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [60]:
#applying knn algorithm
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=3)
classification_model(model, df,predictor_var,outcome_var)

C:\Users\RajaZia\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

Accuracy : 79.942%

C:\Users\RajaZia\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
C:\Users\RajaZia\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

Cross-Validation Score : 55.403%

C:\Users\RajaZia\Anaconda3\lib\site-packages\ipykernel_launcher.py:40: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [61]:
#Import Library
from sklearn import svm
#Assumed you have, X (predictor) and Y (target) for training data set and x_test(predictor) of test_dataset
# Create SVM classification object 
model = svm.SVC(kernel='rbf', C=1, gamma=1) 
outcome_var=['Result']
predictor_var = ['Team 1','Team 2','Ground','Bat','pitchn','Venue_Team 1','Venue_Team 2','Toss']
# there is various option associated with it, like changing kernel, gamma and C value. Will discuss more # about it in next section.Train the model using the training sets and check score
classification_model(model, df,predictor_var,outcome_var)

C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy : 89.927%

C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Cross-Validation Score : 56.002%

C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [62]:
#Gradient boost algorithm
from sklearn.ensemble import GradientBoostingClassifier
model= GradientBoostingClassifier(n_estimators=1000, learning_rate=0.1, max_depth=3, random_state=0)
classification_model(model, df,predictor_var,outcome_var)

C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy : 76.925%

C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Cross-Validation Score : 62.236%

C:\Users\RajaZia\Anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [63]:
#Decision tree algorithm
from sklearn import tree
model = tree.DecisionTreeClassifier(criterion='gini')
outcome_var=['Result']
predictor_var = ['Team 1','Team 2','Ground','Bat','pitchn','Venue_Team 1','Venue_Team 2','Toss']
classification_model(model, df,predictor_var,outcome_var)

Accuracy : 90.326%
Cross-Validation Score : 55.247%

In [68]:
#2-RandomForest 

model = RandomForestClassifier(n_estimators=100)
outcome_var=['Result']
predictor_var = ['Team 1','Team 2','Bat','Venue_Team 1','Venue_Team 2','Toss']
classification_model(model, df,predictor_var,outcome_var)

C:\Users\RajaZia\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Accuracy : 76.392%

C:\Users\RajaZia\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
C:\Users\RajaZia\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Cross-Validation Score : 58.265%

C:\Users\RajaZia\Anaconda3\lib\site-packages\ipykernel_launcher.py:40: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [69]:
# Let's Start our prediction with Ind Vs Aus (Quiet a rivalry)
team1='Ind'
team2='Aus'
input=[dicVal[team1],dicVal[team2],'1','2','1','3']
input = np.array(input).reshape((1, -1))
output=model.predict(input)
print(list(dicVal.keys())[list(dicVal.values()).index(output)])#finding key i.e team name from value

ValueError: array([40], dtype=int64) is not in list

In [70]:
#feature Importance
imp_input = pd.Series(model.feature_importances_, index=predictor_var).sort_values(ascending=False)
print(imp_input*100)

Team 2          42.779382
Team 1          42.323436
Toss             4.603288
Bat              4.519295
Venue_Team 1     2.922856
Venue_Team 2     2.851742
dtype: float64